<div class="row">
    <div class="col-md-6 offset-md-3 jumbotron">
        <form action="/Home/AddImage" method="post" enctype="multipart/form-data">
            <input type="file" name="myImage" />
            <br />
            <input type="text" name="password" placeholder="Password" />
            <br />
            <button class="btn btn-block btn-dark">Upload</button>
        </form>
    </div>
</div>


